﻿/* ===============================================
 *  HOJA DE ESTILOS DEL "CAZA"
 * ===============================================
*/


.textos
{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial,Verdana;
    font-size:medium;
    color:#516E01;
    padding-top: 15px;
 }
 .botondisponibilidad
 {
    text-align: center;
    font-family: Arial,Verdana;
    font-size:medium;
    color:#516E01;
     
     }
 .tbfechacontratacion
 {
    text-align: center;
     
     
     }
    