﻿/* ===============================================
 *  HOJA DE ESTILOS DEL "HOTEL" (para hotel.aspx)
 * ===============================================
*/


.textosinicio
{
       
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial,Verdana;
    font-size:medium;
    color: #516E01;
    padding-top: 12px;
    height: 155px;
    width: 418px;
     
    
    
    
    }