/* =====================================
 *  HOJA DE ESTILOS DE LA "MASTERPAGE"
 * =====================================
 * - Ultima modificacion: 12 Mayo 2011
 * =====================================
 */
 

/* BODY: Aplicable a toda la pagina si no se sobreescriben propiedades. */
body {
	margin: 20px 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
}

body, table 
{
    color: #516E01;
}

/* Espaciado superior de parrafos. */
p {
    margin-top: 0;
}

/* Estilo general de enlaces. */
a {
	text-decoration: none;
	color: #0A5707;
}

a:hover {
    text-decoration: underline;
}

/* CONTENEDOR "GLOBAL" (tambien llamado "wrapper"), donde se incluyen todos los restantes contenedores. */
#global {
	width: 980px;
	margin: 0 auto; /* centrado vertical */
}

/* CONTENEDOR "HEADER": Encabezado de la web que incluye logo, barra de idiomas y barra de menu. */
#header {
    height: 170px;
}

#logo {
    float: left;
    background: url(../images/tordican-logo.jpg) no-repeat left top;
	width: 250px;
	height: 163px;
}

/* CONTENEDOR "IDIOMA": Incluye 3 banderas con los idiomas disponibles en la web. */
#idioma {
    float: right;
	text-align: right;
	margin-bottom: 40px;
}

#idioma .textoLogin {
    font-size: 12px;
}

#idioma .usuarioIdentificado
{
    color: #000;
    border: 1px solid #CDE69B;
    padding: 3px 5px;
    background-color: #E0EFC0;
    font-weight: bold;
    font-size: 14px;
}

#idioma div 
{
    float: left;
}

#idioma ul {
	list-style: none;
	margin: 0;
	padding-left: 20px;
	float: right; /* Hace que las banderas queden alineadas a la derecha del login */
}

#idioma li {
    display: inline;
    margin-left: 6px;
}

#idioma img {
    border: 0;
}

/* CONTENEDOR "MENU": Incluye la lista de secciones de la web. */
#menu {
	height: 60px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
    background: #FFFFFF url(../images/img-menu-off.gif) repeat-x left top;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
	float: right;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 35px;
	margin-right: 1px;
	padding: 16px 28px;
	padding-bottom: 0;
	background: url(../images/img-menu-separa.gif) no-repeat right top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	border: none;
}

#menu a:hover, #menu .actual_activo a {
	background: url(../images/img-menu-on.gif) repeat-x left top;
	text-decoration: none;
	color: #fff;
}

/* CONTENEDOR DEL "CPH_Fotografia": Para cargar una fotografia (980 pixeles ancho) desde las paginas heredadas. */
#header-foto {
}

/* TITULO DE SECCION */
h1 {
    font-family: Georgia, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #749F01;
    margin: 0;
    margin-bottom: 0.875em;
    font-weight: normal !important;
    letter-spacing: -0.02em;
    line-height: 0.875em;
}

/* CONTENEDOR DEL "CPH_Contenido": Aqui cargamos los textos, formulario y controles de la pagina. */
#content {
    border: 1px solid #749F01;
    border-top-width: 5px;
    padding: 20px;
}

/* CONTENEDOR "FOOTER": Pie de pagina con los datos del complejo. */
#footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

#footer p {
    margin: 4px 0;
}

/* SECCION ANTERIOR: Para tener un "historial de navegacion" */
.seccionAnterior {
    color: #bbb;
}
