﻿body {
}

.pasos
{
    font-family: Georgia, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #749F01;
    margin: 0;
    /*margin-bottom: 0.875em;*/
    font-weight: normal !important;
    letter-spacing: -0.02em;
    line-height: 0.875em;
}
/* Igual que el h1 pero si espaciado final*/
h2 {
    font-family: Georgia, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #749F01;
    margin: 0;
    /*margin-bottom: 0.875em;*/
    font-weight: normal !important;
    letter-spacing: -0.02em;
    line-height: 0.875em;
}