﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPH_Fotografia" Runat="Server">
    <asp:Image ID="Image1" runat="server" ImageUrl="~/images/back-outside.jpg" />
<div _designerregion="0">
</div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CPH_Contenido" Runat="Server">
    <h1>P&aacute;gina de Prueba</h1>
    <div id="lipsum">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla et urna 
        interdum rutrum. Proin semper nisi facilisis odio tincidunt id accumsan lorem 
        rhoncus. Aenean lacinia, enim at accumsan condimentum, ligula eros scelerisque 
        ligula, quis porttitor ligula magna non nunc. Nulla lorem augue, hendrerit quis 
        interdum id, fermentum eu nisl. Maecenas ac nibh ac tellus ultricies mollis sed 
        a ipsum. Nunc volutpat velit nec erat sollicitudin scelerisque. In ullamcorper, 
        libero eu feugiat vehicula, dui elit bibendum nisl, in laoreet diam ligula quis 
        ante. Nullam pretium vehicula venenatis. Morbi viverra, eros in cursus faucibus, 
        neque ligula ornare lacus, at congue mauris nisl vel odio. Class aptent taciti 
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas 
        rutrum cursus egestas. Ut sit amet ante id velit pharetra porta et ac ligula. 
        Donec ultricies dolor ut est consectetur vel egestas mi molestie. Duis arcu 
        enim, viverra vitae euismod et, feugiat in arcu. Etiam at nisi dui.
    </p>
    <p>
        Proin sit amet odio erat. Etiam mi nisl, lacinia ac varius sed, bibendum vel 
        dui. Aenean lobortis suscipit condimentum. Phasellus iaculis, sem nec eleifend 
        consectetur, nisi mi aliquet enim, id laoreet leo leo in massa. Nullam ac erat 
        elit, id bibendum dolor. Aliquam rutrum laoreet erat, eget facilisis elit 
        sagittis sed. Nulla in diam diam, eu condimentum velit. Proin lacus nisi, varius 
        non pretium eget, volutpat vitae lectus. Maecenas vitae dui quis odio dapibus 
        auctor. Nulla in tellus a est ultricies vulputate in vel odio.
    </p>
    <p>
        Suspendisse potenti. Vestibulum eros nunc, feugiat a molestie sit amet, 
        vestibulum a mauris. Etiam vehicula leo in massa aliquet tincidunt. Donec eget 
        eros in magna sollicitudin sagittis a eget elit. Quisque placerat magna vel nibh 
        vestibulum volutpat. Vestibulum non libero eu urna bibendum aliquam. Suspendisse 
        potenti. Pellentesque eget ligula nec turpis scelerisque suscipit vitae id mi. 
        Mauris vulputate tristique felis, molestie congue quam vehicula vitae. Nullam 
        aliquet porttitor viverra. Donec eu urna vitae tortor varius hendrerit ac 
        pellentesque eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
</div>
</asp:Content>