﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="registrocompletado.aspx.cs" Inherits="RegistroCompletado" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPH_Fotografia" Runat="Server">
    <asp:Image ID="Image1" runat="server" ImageUrl="~/images/imagenAltaRedi.jpg" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CPH_Contenido" Runat="Server">
    <h1>
    Registro Completado</h1>
<p class="tbfechacontratacion">
    Felicidades, ha completado su registro como cliente de Tordicán.
    <br />
    Se le ha 
    enviado un e-mail con los datos de entrada a su cuenta.</p>
    <p class="tbfechacontratacion">
        <br />
    </p>
</asp:Content>

